<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg  {%mdc}%n</pattern>
        </encoder>
    </appender>

    <root level="ALL">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- ActiveMQ log tuning:  -->
    <logger name="org.apache.activemq" level="DEBUG"/>

    <!-- Artemis log tuning:  -->
    <logger name="org.apache.activemq.artemis" level="INFO"/>

</configuration>