.matsec-container {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    font-size: 85%;
    line-height: 1.35;
    margin: 4px 4px 20px 4px;
    padding: 10px;
    color: #212529;
    background-color: #f4f4f4;
}
.matsec-container h1, .matsec-container h2, .matsec-container h3, .matsec-container h4 {
    line-height: 1.2;
    margin: 0.15em 0 0.3em 0;
}
.matsec-container h1 {
    font-size: 1.8em;
    font-weight: 400;
}
.matsec-container h2 {
    font-size: 1.5em;
    display: inline-block;
    font-weight: 400;
}

.matsec-log-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin: 2px 0;
}
.matsec-log-table th, .matsec-log-table td {
    border: 1px solid #ddd;
}
.matsec-log-table th {
    background-color: #e0e0e0;
    text-align: left;
    padding: 8px 5px;
}
.matsec-log-table td {
    text-align: left;
    padding: 4px 5px;
}
.matsec-log-row,
.matsec-log-row-throwable {
    transition: background-color 0.4s ease;
}

.matsec-log-row:hover,
.matsec-log-row:hover + .matsec-log-row-throwable,
.matsec-log-row:has(+ .matsec-log-row-throwable:hover),
.matsec-log-row-throwable:hover {
    background-color: #f8b864;
    transition: background-color 0s;
}
.matsec-log-table pre {
    margin: 0 0 5px 10px;
    padding: 0;
}
.matsec-timestamp, .matsec-category, .matsec-level {
    vertical-align: middle;
    white-space: nowrap;
    width: 1%;
}
.matsec-message {
    overflow-wrap: break-word;
}
.matsec-hidden {
    display: none;
}

.matsec-toggle-button {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    font-size: 14px;
    margin: 0 10px 5px 20px;
    border-radius: 5px;
}
.matsec-toggle-button:hover {
    background-color: #45a049;
}

/* two columns for text */
.matsec-column-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.35em 50px;
    align-items: flex-start;
    margin: 0 0 0 10px
}
.matsec-column {
    flex: 0 1 auto;
    min-width: 300px;
}